
.title{
    text-align: center;
    color: red;
}


.circular--square {
    border-radius: 50%;
    align-items: center;
    
    
    
  }
  
  
  .circular--square {
    
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }

   
			.gfg { 
				font-size:40px; 
				color:#090; 
				font-weight:bold; 
				text-align:center; 
				margin-bottom:20px; 
			} 
			/* article { 
				width: 50%; 
				float: left; 
				padding:10px; 
				float:left; 
			} 
			aside { 
				float:right; 
				width: 40%; 
				float: right; 
				background-color: green; 
				color: white; 
				padding:5px; 
				margin:10px; 
				height:100px; 
      } 
       */
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
	
      .site-footer {
        background-color: black#111;
        display: block;
      }
      
      
      #footer1{
        display: block;
        background-color: black#111;
      margin-left:2%;
      float:left;
      
      }
      #footer2{
      margin-left:2%;
      float:left;
      }

      .contentContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px;
      }

      .articleContainer{
        display: flex;
        flex-direction: column;
        width: 40%;
      }

      .asideContainer{
         display: flex;
         flex-direction: column;
         width: 40%;
      }